body {
    width: 1100px;
    background-color: white;
    margin: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-right ul li {
    list-style: none;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-right: 2px solid red;
}

.nav-right ul li:hover {
    color: red;
    background-color: yellow;
    padding: 5px 8px;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-family: "Mulish", sans-serif;
}

.nav-left span {
    color: red;
}

/*
.banner-container {
    background-image: url(../Images/cover1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/cover1.png);
}

.banner-content {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

.banner-text h3 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
    color: white;
    z-index: 10;
}

.banner-text p {
    margin-bottom: 50px;
    line-height: 1.5;
    color: white;
    z-index: 10;
}

.banner-input {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.banner-input input {
    padding: 12px;
    width: 174px;

}

.banner-input select {
    padding: 12px;
    width: 174px;
}

.banner-input button {
    padding: 12px;
    background-color: rgb(255, 84, 0);
    width: 174px;
} */






.banner-container {
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/cover1.png);
    background-repeat: no-repeat;


}

.banner-content {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 120px 0;
}

.banner-button {
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.banner-button input {
    padding: 10px;
    width: 174px;
    border-radius: 8px;
}

.banner-button select {
    padding: 10px;
    width: 174px;
    border-radius: 8px;

}

.banner-button button {
    padding: 10px;
    background-color: red;
    width: 174px;
    border: none;
    color: white;
    font-weight: 800px;
    border-radius: 8px;
}

.banner-button span {
    margin-left: 5px;
}

.btn i {
    margin-right: 10px;
}

.banner-text {
    color: white;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

.banner-text h3 {
    font-size: 42px;
    font-weight: 800;
}

.banner-text p {
    line-height: 30px;
}

/* this is main section start */
.main-top {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    gap: 30px;
    padding: 0 30px;
    width: 100%;
}

.main-top img {
    height: 350px;
    padding: 40px 30px 0 0;
    width: auto;
}

.main-text-left {
    padding: 30px 80px 30px 0;
    width: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: mulish;
}

.main-text-left h1 {
    font-size: 36px;
    font-weight: 800;
}

.main-text-li {
    padding: 0 0 0 10px;
}

.main-text-left h3 {
    padding: 10px;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    width: 154px;
    text-align: center;

}

/* Choose your destination section  */
.main-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: mulish;
}

.main-destination p {
    text-align: center;
}

/* grid section start */
.grid-section {
    padding: 20px 0;
}

.grid-first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px 0;
}

.grid-second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px 0;
}

.grid-third-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px 0;
}

.grid-first-content {
    position: relative;
    text-align: center;
    color: white;
}

.maldive-text {
    position: absolute;
}

/* why choose us container */
.choose-text {
    text-align: center;
    font-family: mulish;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.choose-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
}

.choose-container-left {
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px 20px;
    border-radius: 16px;
}

.choose-container-right {
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.2);
    padding: 20px 20px;
    border-radius: 16px;

}

.choose-container-left-text {
    padding: 20px 0;
}

.choose-container-right-text {
    padding: 20px 0;
}

.choose-container-button {
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 20px 20px;
    margin: 20px 100px;
    width: 550px;
}

.choose-container-button-text {
    padding: 20px 0;
}

.choose-button {
    display: flex;

    justify-content: center;

}

/* deal discount & booking system */
.deal-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deal-section-top {
    background: url(../Images/deal1.png);
    display: flex;
    justify-content: end;
    width: 100%;
    height: 500px;
    padding: 56px 56px 55px 0;
    font-family: mulish;
    margin-top: 30px;
    border-radius: 16px;
}

.deal-secction-top-container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.deal-logo {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 30px 100px 20px 20px;
}

.deal-logo i {
    color: red;
}

.deal-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 20px 20px;
}

.deal-price {
    color: rgb(255, 84, 0);
    padding: 20px 20px;
    font-weight: 800;
}

.deal-book {
    padding: 20px 20px;
}

.deal-book h1 {
    background-color: rgb(255, 84, 0);
    padding: 10px 10px;
    color: white;
    border-radius: 16px;
    width: 150px;
}

/* deal section middle start  */
.deal-section-middle {
    background: url(../Images/deal2.png);
    display: flex;
    justify-content: start;
    width: 100%;
    height: 500px;
    padding: 56px 0px 55px 56px;
    font-family: mulish;
    margin-top: 30px;
    border-radius: 16px;
}

.deal-secction-middle-container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.deal-logo {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 30px 100px 20px 20px;
}

.deal-logo i {
    color: red;
}

.deal-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 20px 20px;
}

.deal-price {
    color: rgb(255, 84, 0);
    padding: 20px 20px;
    font-weight: 800;
}

.deal-book {
    padding: 20px 20px;
}

.deal-book h1 {
    background-color: rgb(255, 84, 0);
    padding: 10px 10px;
    color: white;
    border-radius: 16px;
    width: 150px;
}

/* deal section middle end */
/* deal section buttom start */
.deal-section-buttom {
    background: url(../Images/deal1.png);
    display: flex;
    justify-content: end;
    width: 100%;
    height: 500px;
    padding: 56px 56px 55px 0;
    font-family: mulish;
    margin-top: 30px;
    border-radius: 16px;
}

.deal-secction-buttom-container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.deal-logo {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 30px 100px 20px 20px;
}

.deal-logo i {
    color: red;
}

.deal-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 20px 20px;
}

.deal-price {
    color: rgb(255, 84, 0);
    padding: 20px 20px;
    font-weight: 800;
}

.deal-book {
    padding: 20px 20px;

}

.deal-book h1 {
    background-color: rgb(255, 84, 0);
    padding: 10px 10px;
    color: white;
    border-radius: 16px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.deal-pakage {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.deal-pakage {
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 10px 10px;
    border-radius: 16px;
    width: 200px;
}

/* A Simple Perfect Place To Get Lost */
/* .simple-perfect-place-right {
background: linear-gradient(180.00deg, rgb(19, 19, 24),rgba(19, 19, 24, 0)), url( ../Images/ourmountain.png);
padding: 150px 150px;
background-repeat: no-repeat;
border-radius: 16px;
}
.simple-perfect-place{
    display: flex;
    justify-content: space-between;
}
.simple-perfect-place-right-content {
    font-family: mulish;
    font-weight: 800;
    color: white;
    text-align: center;
}

/* .simple-right-play-icon {
    display: flex;
    justify-content: space-between;
} */
.perfect-place {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.perfect-place-left {
    width: 100%;
}

.perfect-place-right {
    width: 100%;
    border-radius: 16px;

    /* background: linear-gradient(180.00deg, rgb(19, 19, 24) -31.958%, rgba(19, 19, 24, 0) 100%), url(../Images/ourmountain.png); */
}

/* footer form section */
.footer-form-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.footer-form-section-left {
    width: 60%;
    border: 1px solid rgb(30, 30, 30);
    padding: 20px 20px 20px 20px;
}

.footer-picture-position {
    background: url(../Images/positiom.png);
    border-radius: 8px;
    width: 100%;
    position: relative;
    height: 422px;

}

.picture-position-content {
    border-radius: 16px;
    background: rgb(255, 84, 0);
    width: 200px;
    padding: 10px;
    position: absolute;
    right: 40px;
    bottom: 60px;
    rotate: -25deg;

}
.picture-position-content h1 {
    text-wrap: nowrap;
}
.form-input-area {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.input-padding {
    padding: 5px 5px;
}

.form-submit {
    border-radius: 8px;

    background: rgb(255, 84, 0);
    padding: 5px;
    width: 200px;
    text-align: center;
    color: white;
    margin-top: 10px;
    visibility: visible;
}

.footer {
    display: flex;
    flex-direction: column;
    background: rgba(19, 19, 24, 0.05);
    align-items: center;
    text-align: center;
}
    .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-icon {
    display: flex;
    gap: 10px;
}
.footer-copyright {
    text-align: center;
    margin: 20px 0;
    border-top: 2px solid gray;
    width: 70%;
}
.footer-copyright  p {
    padding: 20px 0;
}